/* Dashboard */
.dashboard .filter {
    position: absolute;
    right: 0;
    top: 15px;
  }
  
  .dashboard .filter .icon {
    color: #98a7c4;
    padding-right: 10px;
    padding-bottom: 5px;
    transition: 0.3s;
    border: none;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.12);
    font-size: 16px;
  }
  
  .dashboard .filter .icon:hover,
  .dashboard .filter .icon:focus {
    color: #2b9ccd;
  }
  
  .dashboard .filter .dropdown-header {
    padding: 8px 15px;
  }
  
  .dashboard .filter .dropdown-header h6 {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #4d4d4d;
    margin-bottom: 0;
    padding: 0;
}

.dashboard .filter .dropdown-item {
    padding: 8px 15px;
}
