/*-------------------------------
Main
-------------------------------*/

#main {
    margin-top: 60px;
    padding: 18px 20px;
    transition: all 0.3s;
    background: linear-gradient(90deg,#F5F5F5, #eeededf9);
}

@media(max-width:1199px){
    #main{
        padding: 20px;
    }
}
